.listofprojects {
    position: relative;
    padding-top: 100px;
    background: linear-gradient(90deg, #333333, #333333);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        font-size: 2em;
        color: white;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -20px; // Adjust this value as needed
            width: 100%;
            height: 2px;
            background-color: #52d6f4;
        }
    }

    .clickPrompt {
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
    }    

    .projectsContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; // Adjust as needed

        .projectItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0px; // Space between items

            img {
                width: 100%; // Adjust as needed
                height: auto;
                margin-bottom: 40px; // Space between image and text
                border-radius: 15px;

                @media (min-width: 640px) { /* sm */
                    width: 450px; // Adjust width for sm screens
                    height: 300px; // Adjust height for sm screens
                }

                @media (min-width: 768px) { /* md */
                    width: 500px; // Adjust width for md screens
                    height: 333px; // Adjust height for md screens
                }

                @media (min-width: 1024px) { /* lg */
                    width: 550px; // Adjust width for lg screens
                    height: 367px; // Adjust height for lg screens
                }

                @media (min-width: 1280px) { /* xl */
                    width: 325px; // Adjust width for xl screens
                    height: 300px; // Adjust height for xl screens
                }

                @media (min-width: 1536px) { /* 2xl */
                    width: 400px; // Adjust width for 2xl screens
                    height: 300; // Adjust height for 2xl screens
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.10);
                    transition: transform 0.3s ease;
                }
            }

            p {
                margin-bottom: 1px;
                color: white;
                font-size: 1em;
                font-weight: bold
            }
            a {
                margin-top: 40px;
                color: #52d6f4;
                text-decoration: none; // Removes the underline from links
                font-weight: bold; // Makes the text bold

                &:hover {
                    text-decoration: underline; // Adds underline on hover
                }
            }
        }
    }
}
